#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "grav"
name = "Grav"
description.en = "Modern open source flat-file CMS"
description.fr = "CMS moderne basé sur des fichiers plats"

version = "1.7.50.8~ynh2"

maintainers = ["tituspijean"]

[upstream]
license = "MIT"
website = "https://www.getgrav.org/"
demo = "https://getgrav.org/downloads/themes"
admindoc = "https://learn.getgrav.org"
code = "https://github.com/getgrav/grav"
cpe = "cpe:2.3:a:getgrav:grav"
fund = "https://opencollective.com/grav"

[integration]
yunohost = ">= 11.1.30"
architectures = "all"
multi_instance = true

ldap = true

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/grav"

    [install.init_main_permission]
    help.en = "Will anyone be able to access the website?"
    help.fr = "Est-ce que quiconque pourra accéder au site ?"
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["en_EN", "fr_FR"]
    default = "fr_FR"

    [install.init_admin_permission]
    ask.en = "Select an administrator for the app"
    ask.fr = "Sélectionnez un administrateur pour l'application"
    type = "user"

[resources]
    [resources.sources]
    [resources.sources.ldap]
    url = "https://github.com/trilbymedia/grav-plugin-login-ldap/archive/refs/tags/1.1.0.tar.gz"
    sha256 = "bf6f7684fc7d605241f66772875f77b8e3977c0db9c50010d78385495c7ec335"
    autoupdate.strategy = "latest_github_tag"
    autoupdate.upstream = "https://github.com/trilbymedia/grav-plugin-login-ldap"

    [resources.sources.main]
    url = "https://github.com/getgrav/grav/releases/download/1.7.50.8/grav-admin-v1.7.50.8.zip"
    sha256 = "22a81a1c2cf86ec9b4353a2e3282e58a691fae85ff8cf4a3b9e4610f19984fe1"
    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = "grav-admin.*.zip"

    [resources.sources.app-upgrade]
    url = "https://github.com/getgrav/grav/releases/download/1.7.49.5/grav-update-v1.7.49.5.zip"
    sha256 = "46ff97ed5fc7171042c0c4b28b78e61d52368e5166bd871a763df6d2b981e464"
    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = "grav-update.*.zip"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    admin.show_tile = false
    user.show_tile = false

    [resources.apt]
    packages = "php8.2-zip, php8.2-mbstring, php8.2-curl, php8.2-dom, php8.2-gd, php8.2-xml, php8.2-ldap, php8.2-sqlite3, php8.2-mysql, php8.2-intl, php8.2-yaml"
